* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*Fix browser issues*/

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

hr {
    display: block;
    -webkit-margin-before: 0.2em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

h1 {
    display: block;
    font-size: 4rem;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 900;
    color: #191545;
    margin-top: 100px;
    text-shadow: 4px 6px rgba(25, 21, 69, 0.3);
}

p {
    line-height: 1.52;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(25, 21, 69);
    margin-top: 50px;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    background-color: rgba(25, 21, 69, 0.05);
}

.content {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Source Code Pro', monospace;
}

.social {
    margin-top: 50px;
}

.social li {
    display: inline-block;
    padding-right: 10px;
}

.social li:not(:last-child)::after {
    content: '/';
    padding-left: 10px;
}

a {
    color: #4433ff;
    text-decoration: none;
    display: inline-block;
    transform: translateY(0);
    transition: transform .1s linear;
    user-select: none;
}

a:hover {
    transform: translateY(-15%);
}