@import "./utils";
@import "./fonts";

:root {
  --primary: rgb(25, 21, 69);
  --bg: rgba(25, 21, 69, 0.05);
  --font-extra-light: 'ClashDisplay-Extralight', 'Montserrat', sans-serif;
  --font-light: 'ClashDisplay-Light', 'Montserrat', sans-serif;
  --font-regular: 'ClashDisplay-Regular', 'Montserrat', sans-serif;
  --font-medium: 'ClashDisplay-Medium', 'Montserrat', sans-serif;
  --font-bold: 'ClashDisplay-Bold', 'Montserrat', sans-serif;
  --font-semi-bold: 'ClashDisplay-Semibold', 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-light);
  font-style: normal;
  word-spacing: 0.3em;
  background-color: var(--bg);
  color: var(--primary);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

button,
a {
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: opacity 0.15s linear;

  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-bold);
  font-size: 2.5rem;

  @include tablet {
    font-size: 80px;
  }

  @include desktop {
    font-size: 6.25rem;
  }
}

h2,
h3,
h4 {
  font-family: var(--font-regular);
}

h2,
h3 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.5rem;
  line-height: 2;
}

.center {
  text-align: center;
}

.text-stroke {
  -webkit-text-fill-color: var(--bg);
  -webkit-text-stroke: 1px var(--primary);
}

.heading {
  &::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: var(--primary);
  }
}

.underline {
  border-bottom: 0.1rem double var(--primary);
  display: inline;
  width: fit-content;
}

.container {
  width: 80%;
  margin: 0 auto;

  @include tablet {
    width: 80%;
  }

  @include desktop {
    width: 75%;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: fixed;
  left: 1%;
  padding: 100px 0 0;

  @include mobile {
    flex-direction: row;
    align-items: center;
    height: 70px;
    left: 5%;
    top: 10px;
    width: 90%;
    padding-top: 0;
    background-color: rgba(25, 21, 69, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    margin: 0 auto;
  }

  @include tablet {
    left: 3%;
  }

  @include desktop {
    left: 5%;
  }
}

.emoji-icon {
  font-size: 30px;

  @include mobile {
    padding-left: 20px;
  }
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    flex-direction: row;
  }

  li {
    margin: 20px 0;

    @include mobile {
      padding: 0 20px;
      margin: 0;
      line-height: 1;
    }
  }

  &::after {
    content: '';
    width: 1px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2);
    display: inline-block;
    animation: springUp .3s linear forwards;

    @include mobile {
      display: none;
    }
  }
}

.email {
  position: fixed;
  right: 1%;
  bottom: 0;
  text-orientation: mixed;

  &::after {
    content: '';
    width: 1px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-top: 25px;
    animation: springUp .3s linear forwards;

    @include mobile {
      content: none;
    }
  }

  @include mobile {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }

  @include tablet {
    right: 3%;
    writing-mode: vertical-rl;
  }

  @include desktop {
    right: 5%;
    writing-mode: vertical-rl;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
}

.intro {
  height: 100%;
  margin: 50px 0 200px 0;

  @include tablet {
    max-width: 80%;
  }
}

@keyframes springUp {
  from {
    height: 0;
  }

  to {
    height: 80px;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  height: 100%;

  &-item {
    width: 100%;
    margin-bottom: 50px;

    @include tablet {
      width: 45%;
    }
  }
}
