---
import Header from "../components/header.astro";
import Intro from "../components/intro.astro";
import Tech from "../components/tech.astro";
import WorkHistory from "../components/workHistory.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <main class="container">
    <Header />
    <Intro />
    <Tech />
    <WorkHistory />
  </main>
</PageLayout>
