---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <main class="container">
    <header class="section">
      <h1 class="name">
        <span class="text-stroke">Today, I Learnt:</span>
      </h1>
      <h4 class="name">Motivation: To build a habit of consistency!</h4>
    </header>
  </main>
</PageLayout>
