<header class="section">
    <h1 class="name glow-wrap">
        <span class="text-stroke glow-1">Oseni&nbsp;</span>
        <span class="glow-2">Adekunle.</span>
    </h1>
    <h1 class="name glow-wrap">
        <span class="text-stroke glow-2">Software&nbsp;</span>
        <span class="glow-3">Engineer.</span>
    </h1>
    <h1 class="name glow-wrap">
        <span class="text-stroke glow-3">Amsterdam,&nbsp;</span>
        <br />
        <span class="glow-4">The Netherlands.</span>
    </h1>
</header>
